#featuredContainer {
  text-align: center;
  margin: 50px 80px;
}

swiper-slide {
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  margin: 40px;
}

.SwiperCardImage {
  height: auto;
}

@media (min-width: 1500px) {  
  swiper-container {
    width: 90%;
  }
}
@media (min-width: 1700px) {  
  swiper-container {
    width: 80%;
  }
}
@media (min-width: 1900px) {  
  swiper-container {
    width: 70%;
  }
}

@media (min-width: 600px) {  
  swiper-slide {
    margin-right: 0px;
  }
}

.SwiperCardContainer {
  position: relative;
}

.Image_Overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s
}

.Image_Overlay > * {
  transform: translateY(20px);
  transition: transform 0.4s;
}

.Image_Overlay:hover > * {
  transform: translateY(0px);
}

.Image_Overlay:hover {
  opacity: 1;
}

#viewMore {
  text-wrap: nowrap;
}

@media (max-width: 600px) {  
  .SwiperCardImage {
    max-height: 500px;
  }
}