#journeyWrapper {
  display: flex;
  justify-content: center;
  background-color: #ffffff83;
}

.leftSide {
  justify-content: start;
}

.rightSide {
  justify-content: end;
}

.journeyImg {
  max-height: 500px;
  width: auto
}