.footerNavList {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.footerNavList a{
  color: #fff;
}

#FooterContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

